.Layout {
  min-height: 100vh;
  overflow: auto;
}

.MenuHeader {
  display: block;
  padding: 2rem;
  margin-bottom: 2rem;
}

.MenuHeaderText {
  color: white;
}

.LayoutHeader {
  padding: 0;
  background: #001529;
}

.LayoutContent {
  margin: 2rem;
  overflow: auto;
  background: white;
  padding: 2rem;
}
